<div class="container-admin">
    <div *ngIf="isUserList" class="container-list-users">

        <table class="table desktop">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td *ngIf="user.admin == 0 && user.hrm == 0">Employee</td>
                    <td *ngIf="user.admin == 1 && user.hrm == 0">Administrator</td>
                    <td *ngIf="user.admin == 0 && user.hrm == 1">Human Resource Manager</td>
                    <td *ngIf="user.admin == 1 && user.hrm == 1">Administrator, Human Resource Manager</td>
                    <td><button type="button" class="btn btn-primary" (click)="setUserRole(user)">Edit</button></td>
                </tr>
            </tbody>
        </table>

        <table class="table mobile">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td><button type="button" class="btn btn-primary" (click)="setUserRole(user)">Edit</button></td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- .container-list-user -->

    <div *ngIf="isSetRole" class="container-personal-user">
        <div class="personal-user">
            <div class="close" (click)="backToListUser()"><i class="fa fa-times" aria-hidden="true"></i></div>
            <h2>{{user.name}}</h2>
            <p>{{user.email}}</p>
            <p>{{userRole}}</p>
            <div class="form-roles">
                <h4>Change Role</h4>
                <p><i class="fa fa-info-circle" aria-hidden="true"></i> Select the roles you want to apply:</p>
                <div class="select-roles">
                    <div><input type="checkbox" (click)="adminCheck()" [(ngModel)]="checkedAdmin">Administrator</div>
                    <div><input type="checkbox" (click)="hrmCheck()" [(ngModel)]="checkedHRM">Human Resource Manager</div>
                </div>
                <div class="submit-roles">
                    <button type="button" class="btn btn-primary" (click)="sendRole()">Submit</button>
                    <div *ngIf="response_submit_code == 200" class="alert alert-success">
                        <a class="close" data-dismiss="alert" aria-label="close" (click)="close()">×</a>
                        <strong>Updated!</strong> {{response_submit_message}}
                    </div>
                    <div *ngIf="response_submit_code == 400" class="alert alert-danger">
                        <a class="close" data-dismiss="alert" aria-label="close" (click)="close()">×</a>
                        <strong>Error!</strong> {{response_submit_message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .container-personal-user -->


</div>
<!-- .container-admin -->