@import '~sass/variables';
@import '~sass/mixins';
.container-admin {
    margin-top: 25px;
    .container-list-users {
        @include display-flex();
        @include justify-content(center);
        table {
            text-align: center;
            max-width: 1200px;
            thead {
                tr {
                    th {
                        border: 1px solid #e9ecef;
                    }
                }
            }
            tbody {
                tr {
                    &:nth-child(2n) {
                        background-color: #fff;
                    }
                    &:nth-child(2n + 1) {
                        background-color: rgba(0, 0, 0, .05);
                    }
                    td {
                        vertical-align: baseline;
                        padding: 10px;
                    }
                }
            }
            &.desktop {
                display: none;
                @media (min-width: 768px) {
                    display: table;
                }
            }
            &.mobile {
                @media (min-width: 768px) {
                    display: none;
                }
            }
        }
    }
    .container-personal-user {
        @include display-flex();
        @include justify-content(center);
        .personal-user {
            position: relative;
            border-radius: 3px;
            box-shadow: 0 5px 6px rgba(0, 0, 0, 0.14);
            background-color: #fff;
            padding: 30px;
            width: 600px;
            max-width: 100%;
            .close {
                position: absolute;
                top: 0px;
                right: 0px;
                margin: 7px 7px 0px 0px;
                &:hover {
                    cursor: pointer;
                }
            }
            .form-roles {
                padding: 15px;
                border: 1px solid;
                margin-bottom: 20px;
                .select-roles {
                    margin-bottom: 15px;
                    display: block;
                    @media (min-width: 768px) {
                        @include display-flex();
                        @include justify-content(space-around);
                    }
                    div {
                        @include display-flex();
                        @include align-items(center);
                        margin-bottom: 10px;
                        @media (min-width: 768px) {
                            margin-right: 15px;
                            margin-bottom: 0px;
                        }
                        input {
                            margin-right: 7px;
                        }
                    }
                }
                .submit-roles {
                    text-align: center;
                    .alert {
                        margin-top: 16px;
                    }
                }
            }
            .check-ip {
                padding: 15px;
                border: 1px solid;
                input {
                    margin-right: 25px;
                }
            }
        }
    }
}