@import '~sass/variables';
@import '~sass/mixins';
.container-ipreport {
    @include display-flex();
    @include justify-content(center);
    .container-users-list {
        width: 90%;
        margin: 0 auto;
        .select-daily-date {
            @include display-flex();
            max-width: 1200px;
            input {
                max-width: 180px;
            }
        }
        .invalid-date-mssg {
            @include display-flex();
            @include justify-content(center);
            .mssg {
                margin-top: 20px;
                .close {
                    margin-left: 15px;
                }
            }
        }
        .container-table-users-ipreport {
            margin-top: 25px;
            .table-ipuserlist {
                text-align: center;
                max-width: 1200px;
                thead {
                    tr {
                        th {
                            border: 1px solid #e9ecef;
                        }
                    }
                }
                tbody {
                    tr {
                        &:nth-child(2n) {
                            background-color: #fff;
                        }
                        &:nth-child(2n + 1) {
                            background-color: rgba(0, 0, 0, .05);
                        }
                        td {
                            vertical-align: baseline;
                            padding: 10px;
                        }
                    }
                    .table-checks {
                        width: 100%;
                        tr {
                            background-color: transparent;
                            td {
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .ipreport-personal {
        .personal-user {
            position: relative;
            border-radius: 3px;
            box-shadow: 0 5px 6px rgba(0, 0, 0, 0.14);
            background-color: #fff;
            padding: 30px;
            width: 1000px;
            max-width: 100%;
            .invalid-date-mssg {
                @include display-flex();
                @include justify-content(center);
                .mssg {
                    margin-top: 20px;
                    .close {
                        margin-left: 15px;
                    }
                }
            }
            .check-ip {
                .input-start-end-dates {
                    @include display-flex();
                    input {
                        max-width: 170px;
                        width: 100%;
                        margin-right: 15px;
                    }
                    button {
                        width: 100px;
                        max-width: 100%;
                    }
                }
            }
            .list-checkIP {
                margin-top: 30px;
                .table-ip-personaluser {
                    text-align: center;
                    max-width: 1200px;
                    thead {
                        tr {
                            th {
                                border: 1px solid #e9ecef;
                            }
                        }
                    }
                    tbody {
                        tr {
                            &:nth-child(2n) {
                                background-color: #fff;
                            }
                            &:nth-child(2n + 1) {
                                background-color: rgba(0, 0, 0, .05);
                            }
                            td {
                                vertical-align: baseline;
                                padding: 10px;
                            }
                        }
                        .table-checks {
                            width: 100%;
                            tr {
                                background-color: transparent;
                                td {
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}