/* You can add global styles to this file, and also import other style files */

@import './variables';
@import './mixins';
body {
    background-color: #f3f3f4 !important;
    overflow-x: hidden;
}

button {
    &:hover {
        cursor: pointer;
    }
}

a {
    &:hover {
        cursor: pointer;
    }
}