@import '~sass/variables';
@import '~sass/mixins';
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #6C7A89;
    .container-header {
        width: 100%;
        @media (min-width: 768px) {
            @include display-flex();
            @include justify-content(space-between);
            @include align-items(center);
        }
        .navbar-header {
            width: 100%;
            background-color: #6C7A89;
            @include display-flex();
            @include justify-content(space-between);
            @include align-items(center);
            height: auto;
            padding: 5px;
            &:before,
            &:after {
                display: none;
            }
            @media (min-width: 768px) {
                width: auto;
            }
            .logo-title-app {
                @include display-flex();
                @include align-items(center);
                img {
                    width: 100%;
                    max-width: 50px;
                }
                .title-app {
                    margin-left: 20px;
                    h2 {
                        color: #fff;
                        margin: 0px;
                        font-size: 18px;
                        @media (min-width: 768px) {
                            font-size: 30px;
                        }
                    }
                }
            }
            .welcome {
                // mobile
                @include display-flex();
                p {
                    margin: 0px;
                    color: #fff;
                    font-size: 19px;
                    &:first-child {
                        margin-right: 5px;
                    }
                }
                .logout {
                    display: none;
                    margin-left: 15px;
                    @media (min-width: 768px) {
                        display: block;
                    }
                }
                &.mobile {
                    @media (min-width: 768px) {
                        display: none;
                    }
                }
            }
            .navbar-toggler {
                border: 1px solid #fff;
                margin: 0px;
                padding: 6px 9px;
                outline: none;
                &:hover {
                    cursor: pointer;
                }
                @media (min-width: 768px) {
                    display: none;
                }
                .icon-bar {
                    display: block;
                    background-color: #fff;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    height: 2px;
                    width: 24px;
                    border-radius: 0px;
                }
            }
        }
        .container-menu {
            .custom-menu {
                border-top: none;
                box-shadow: none;
                text-align: center;
                border-top: 1px solid #fff;
                @media (min-width: 768px) {
                    border-top: none;
                    margin-left: 15px;
                    @include display-flex(true);
                }
                .main-menu {
                    .nav {
                        @include flex-direction(column);
                        @media (min-width: 768px) {
                            @include flex-direction(row);
                        }
                        li {
                            list-style: none;
                            display: block;
                            margin: 15px 0px;
                            @media (min-width: 768px) {
                                display: inline-block;
                            }
                            @media (min-width: 992px) {
                                margin: 0px 10px;
                            }
                            .link-active {
                                font-weight: bold;
                            }
                            button:hover {
                                cursor: pointer;
                            }
                            &.logout-item {
                                button {
                                    i {
                                        margin-right: 5px;
                                    }
                                }
                                @media (min-width: 768px) {
                                    display: none;
                                }
                            }
                            button {
                                color: #fff;
                                background: none;
                                border: none;
                                font-size: 19px;
                                @media (min-width: 768px) {
                                    font-size: 15px;
                                }
                                @media (min-width: 992px) {
                                    font-size: 19px;
                                }
                                &:focus {
                                    font-weight: 800;
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
            &.mobile {
                @media (min-width: 768px) {
                    display: none;
                }
            }
            &.desktop {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                }
            }
        }
        .welcome {
            // desktop
            @include display-flex();
            p {
                margin: 0px;
                color: #fff;
                font-size: 19px;
                @media (min-width: 768px) {
                    font-size: 15px;
                }
                @media (min-width: 992px) {
                    font-size: 19px;
                }
                &:first-child {
                    margin-right: 5px;
                }
            }
            .logout {
                background: none;
                border: none;
                margin-left: 20px;
                padding-right: 15px;
                i {
                    margin-right: 5px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.container-general {
    margin-top: 100px;
    height: 100vh;
}