@import '~sass/variables';
@import '~sass/mixins';

.component-login {
    padding: 30px;
    width: 500px;
    max-width: 100%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.14);

    @media (min-width: 768px) {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        margin: 0px;
    }

    .input-group-addon {
        min-width: 40px;
    }

    .button-login {
        @include display-flex();
        @include justify-content(flex-end);
    }

    .btn_createUser {
        margin-left: 10px;
    }

}
.mssg {
    text-align: center;
    margin: 30px;
}