<div class="component-login">
  <h2>Sign in</h2>

  <br>

  <p class="text-primary">Email</p>
  <div class="input-group">
    <span class="input-group-addon">@</span>
    <input type="email" class="form-control" placeholder="User" aria-label="User" aria-describedby="basic-addon1">
  </div>

  <br>

  <p class="text-primary">Password</p>
  <div class="input-group">
    <span class="input-group-addon">#</span>
    <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
  </div>

  <br>

  <div class="button-login">
    <div id="googleBtn" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" ></div>
  </div>

  <div *ngIf="wrongAccount" class="mssg alert alert-danger alert-dismissable" >
    <a class="close" data-dismiss="alert" aria-label="close" (click)="closeWarning()">×</a>
    <strong>Invalid user detected.</strong>
  </div>

</div>
